.header-logo__title, .header-logo__description {
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black;
}

.film-info__title::after, .film-description__title::after,
.film-comments__title::after,
.film-form__title::after, .new-films__title::after,
.top-films__title::after, .film-news__title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #f0ad4f;
  top: 80%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 15px;
}

.film-description__title::before,
.film-comments__title::before,
.film-form__title::before, .top-films__title::before, .film-news__title::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: #f0ad4f;
  top: 25%;
  margin-left: -50px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar-inverse {
  background-color: darken #232323, 4%;
}
.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
}
.navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #517ba2;
}
.navbar-inverse .navbar-nav > li > a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  background-color: #165690;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
}

.panel-info {
  border: none;
  background-color: #f4f4f4;
}
.panel-info:not(last-of-type) {
  margin-bottom: 30px;
}
.panel-info:last-of-type {
  margin-bottom: 0;
}
.panel-info .panel-heading {
  font-size: 1.25rem;
  letter-spacing: 0.08em;
  background-color: #df8a13;
  color: #ffffff;
  border: none;
}
.panel-info .panel-body {
  border: 1px solid #d5d5d5;
  border-radius: 0 0 4px 4px;
}

.input-lg, .input-group-lg > .form-control {
  font-size: 0.875rem;
}

.thumbnail {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

html {
  font-size: 16px;
}

body {
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  overflow-y: scroll;
}

a {
  color: #165690;
}
a:hover, a:focus {
  color: #df8a13;
  text-decoration: none;
}

h1 {
  font-family: "PT Serif", serif;
  font-size: 3rem;
  margin: -9.99999999px 0 1em;
}

.header {
  margin-bottom: 80px;
}

.header-logo {
  text-align: center;
  padding: 100px 0;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
}
.header-logo__title {
  display: block;
  letter-spacing: 0.33em;
  font-family: "PT Serif", serif;
  color: #df8a13;
  margin-right: -0.33em;
}
.header-logo__description {
  display: block;
  font-size: 1.15rem;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.main {
  margin-bottom: 80px;
}

.new-films {
  margin-bottom: 80px;
}
.new-films-row {
  margin-right: -7.5px;
  margin-left: -7.5px;
  margin-bottom: -15px;
}
.new-films-item {
  padding-right: 7.5px;
  padding-left: 7.5px;
  margin-bottom: 15px;
}

.new-films,
.top-films {
  overflow: hidden;
}
.new-films__title,
.top-films__title {
  position: relative;
  font-family: "PT Serif", serif;
}
.new-films-item,
.top-films-item {
  margin-bottom: -6px;
  padding-right: 15px;
  padding-left: 15px;
}
.new-films-item__title,
.top-films-item__title {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}
.new-films-item__thumbnail,
.top-films-item__thumbnail {
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
.new-films-item__image,
.top-films-item__image {
  width: 100%;
}
.new-films-item:hover .new-films-item__thumbnail,
.new-films-item:hover .top-films-item__thumbnail, .new-films-item:focus .new-films-item__thumbnail,
.new-films-item:focus .top-films-item__thumbnail,
.top-films-item:hover .new-films-item__thumbnail,
.top-films-item:hover .top-films-item__thumbnail,
.top-films-item:focus .new-films-item__thumbnail,
.top-films-item:focus .top-films-item__thumbnail {
  background-color: #df8a13;
  border-color: #df8a13;
}
.new-films-item:hover .new-films-item__title,
.new-films-item:hover .top-films-item__title, .new-films-item:focus .new-films-item__title,
.new-films-item:focus .top-films-item__title,
.top-films-item:hover .new-films-item__title,
.top-films-item:hover .top-films-item__title,
.top-films-item:focus .new-films-item__title,
.top-films-item:focus .top-films-item__title {
  color: #ffffff;
}

.new-films__title {
  margin-bottom: 1em;
}

.film-news {
  overflow: hidden;
}
.film-news__title {
  position: relative;
  font-family: "PT Serif", serif;
}
.film-news-item__description {
  text-align: justify;
}
.film-news-item__btn {
  float: right;
  margin-bottom: 30px;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
.film-news-item__thumbnail {
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
  margin-bottom: 0;
}
.film-news-item:hover h3 > a, .film-news-item:focus h3 > a {
  color: #df8a13;
}
.film-news-item:hover .film-news-item__thumbnail,
.film-news-item:hover .film-news-item__btn, .film-news-item:focus .film-news-item__thumbnail,
.film-news-item:focus .film-news-item__btn {
  background-color: #df8a13 !important;
}
.film-news-item:hover .film-news-item__thumbnail, .film-news-item:focus .film-news-item__thumbnail {
  border-color: #df8a13;
}

.film-info {
  overflow: hidden;
  font-size: 1.2rem;
}
.film-info__title {
  position: relative;
  font-family: "PT Serif", serif;
  margin-bottom: 1em;
}
.film-info__well {
  text-align: center;
  border-radius: 0 0 4px 4px;
  border-color: #d5d5d5;
  background-color: #f4f4f4;
}
.film-info__badge {
  font-size: 0.96rem;
}
.film-info__wrapper {
  white-space: nowrap;
}
.film-info__wrapper:not(:last-of-type) {
  margin-right: 15px;
}

.film-description,
.film-comments,
.film-form {
  overflow: hidden;
}
.film-description__title,
.film-comments__title,
.film-form__title {
  position: relative;
  font-family: "PT Serif", serif;
}

.film-form__txt {
  resize: vertical;
}
.film-form__btn {
  margin-top: 15px;
}
.film-form__btn:hover {
  background-color: #df8a13 !important;
}

.left-sidebar {
  margin-bottom: 80px;
}

.vertical-slider {
  border-radius: 4px;
  overflow: hidden;
}
.vertical-slider__image {
  width: 100%;
}

.user-login {
  position: relative;
}
.user-login__tabs {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  margin-right: 5px;
}
.user-login__tabs a {
  background-color: transparent !important;
  border: none !important;
  color: #d5d5d5;
  padding: 14px 5px 12px !important;
}
.user-login__tabs .active a {
  color: #ffffff !important;
}

.site-news-item {
  clear: both;
  position: relative;
}
.site-news-item:not(:last-child) {
  min-height: 84.99999999px;
  margin-bottom: 15px;
}
.site-news-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: calc(100% - 84.99999999px);
  height: 1px;
  background-color: #d5d5d5;
  right: 0;
  bottom: -4px;
}
.site-news-item:hover a {
  color: #df8a13;
}
.site-news-item:hover .thumbnail {
  border-color: #df8a13;
  background-color: #df8a13;
}
.site-news-item__thumbnail {
  float: left;
  width: 75px;
  margin: 0 9.99999999px 9.99999999px 0;
}
.site-news-item__image {
  width: 100%;
}
.site-news-item__title {
  margin-bottom: 0.5em;
}
.site-news-item__link {
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
  display: -webkit-box;
  overflow: hidden;
  height: 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.site-news-item__date {
  text-align: right;
  font-size: 0.8rem;
  color: #6f6f6f;
}

.top-films__body {
  padding-left: 0;
  padding-right: 0;
}
.top-films__list {
  margin-bottom: 0;
}
.top-films__item {
  background-color: transparent;
  margin-left: -1px;
  margin-right: -1px;
  color: #165690 !important;
  padding-right: 50px;
}
.top-films__item:first-child {
  border-top: none;
  border-radius: 0;
}
.top-films__item:last-child {
  border-bottom: none;
  border-radius: 0;
}
.top-films__item:hover, .top-films__item:focus {
  color: #ffffff !important;
  background-color: #df8a13 !important;
  border-color: #df8a13;
}
.top-films__item:hover .badge, .top-films__item:focus .badge {
  background-color: #232323;
}
.top-films__badge {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  padding-top: 45px;
  background-color: #232323;
  color: #d5d5d5;
}
.footer a {
  color: #6f6f6f;
}
.footer ul {
  list-style: none;
  padding: 0;
}
.footer-last-block {
  text-align: center;
  margin: 20px 0;
}
.footer-last-block a {
  color: #d5d5d5;
}
@media (min-width: 576px) {
  .header-logo__title {
    font-size: 3.5rem;
  }
  .new-films__title {
    font-size: 3rem;
    margin-top: -10px;
  }
  .top-films__title {
    font-size: 2.5rem;
    margin: 60px 0 45px 45px;
  }
  .film-news__title {
    font-size: 2.5rem;
    margin: 60px 0 45px 45px;
  }
  .film-info__title {
    font-size: 3rem;
    margin-top: -10px;
  }
  .film-description__title,
.film-comments__title,
.film-form__title {
    font-size: 2.5rem;
    margin: 60px 0 45px 45px;
  }
}
@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-left > li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right > li {
    margin: 5px 0 5px 5px;
  }
}
@media (max-width: 767.8px) {
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-top: 0;
  }
}
@media (max-width: 575.8px) {
  .header-logo__title {
    font-size: 2.5rem;
  }
  .new-films__title {
    font-size: 2rem;
    margin-top: 0;
  }
  .top-films__title {
    font-size: 1.75rem;
    margin: 45px 0 30px 45px;
  }
  .film-news__title {
    font-size: 1.75rem;
    margin: 45px 0 30px 45px;
  }
  .film-info__title {
    font-size: 2rem;
    margin-top: 0;
  }
  .film-description__title,
.film-comments__title,
.film-form__title {
    font-size: 1.75rem;
    margin: 45px 0 30px 45px;
  }
}